<div class="center" *ngIf="!allPosts">
    <mat-spinner></mat-spinner>
    <div template></div>
</div>

<div class="container" *ngIf="allPosts">
        <div class="row" >
            <!-- Blog entries-->
            <div class="col-lg-4" *ngFor="let post of allPosts">
                <!-- Featured blog post-->
                <div class="card mb-4" >
                    <a routerLink='/post/{{post.id}}/{{post.picture.id}}'>
                        <img *ngIf="allPosts" class="card-img-top" src="{{post.picture.download_url}}" alt="{{post.picture.download_url}}" /></a>
                    <div class="card-body">
                        <h2 class="card-title">{{post.title}}</h2>
                        <p class="card-text">{{post.body}}</p>
                        <a class="btn btn-primary" [routerLink]="['/post', post.id, post.picture.id]">Read more</a>
                    </div>
                </div>
            </div>
         </div>
</div>



